.menu{
    margin-bottom: 100px;
}

.ligne2{
    position: absolute;
    top: 350px;
}

.formulaire{
    margin-top: 193px;
}

.footer{
    margin-top: 168px;
}

.addBtn{
    margin-left: 400px;
}